---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - "\"4fd389dc6eb0344fa98184c811f12f8d\""
      X-Contentful-Request-Id:
      - 85f-649640028
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 16,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "thownz9vc5w0"
                  }
                },
                "id": "member",
                "type": "ContentType",
                "createdAt": "2016-06-14T15:36:04.972Z",
                "updatedAt": "2020-03-24T10:05:28.711Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 26
              },
              "displayField": "name",
              "name": "Teammitglied",
              "description": "Alle Teammitglieder",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Symbol",
                  "localized": false,
                  "required": true,
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "jobTitle",
                  "name": "Aufgabengebiet",
                  "type": "Symbol",
                  "localized": true,
                  "required": true,
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "about",
                  "name": "Beschreibung",
                  "type": "Text",
                  "localized": false,
           [...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - "\"4fd389dc6eb0344fa98184c811f12f8d\""
 [...]
