---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - "\"4fd389dc6eb0344fa98184c811f12f8d\""
      X-Contentful-Request-Id:
      - 85f-649640028
    body:
      encoding: UTF-8
      string: |
        {
           "sys": {
              "type": "Array"
           },
           "total": 1,
           "skip": 0,
           "limit": 1,
           "items": [
              {
                 "sys": {
                    "space": {
                       "sys": {
                          "type": "Link",
                          "linkType": "Space",
                          "id": "thownz9vc5w0"
                       }
                    },
                    "id": "5dtrVVJefeyCoaMugqoUUk",
                    "type": "Entry",
                    "createdAt": "2017-01-15T12:01:20.725Z",
                    "updatedAt": "2020-05-19T12:00:42.246Z",
                    "environment": {
                       "sys": {
                          "id": "master",
                          "type": "Link",
                          "linkType": "Environment"
                       }
                    },
                    "revision": 14,
                    "contentType": {
                       "sys": {
                          "type": "Link",
                          "linkType": "ContentType",
                          "id": "winner"
                       }
                    },
                    "locale": "de-DE"
                 },
                 "fields": {
                    "nickname": " Jesta",
                    "biOrdinal": 34,
                    "entrantID": 32878,
                    "story": " ",
                    "news": [
                       {
                          "sys": {
                             "type": "Link",
                             "linkType": "Entry",
                             "id": "vGienFOrtIM8G8IAo2uuA"
                          }
                       },
                       {
                          "sys": {
                             "type": "Link",
                             "linkType": "Entry",
                             "id": "1TUjXt07IAMyA0oCmAWyY4"
                          }
                       }
                    ],
                    "achievement": "realisiert ihre eigene Utopie - sie bietet ihr Slow Business Coaching\nzu einem Offenen Preis an."
                 }
              }
           ],
           "includes": {
              "Entry": [
                 {
                    "sys": {
                       "space": {
                          "sys": {
                             "type": "Link",
                             "linkType": "Space",
                             "id": "thownz9vc5w0"
                          }
                       },
                       "id": "1TUjXt07IAMyA0oCmAWyY4",
                       "type": "Entry",
                       "createdAt": "2017-01-08T13:00:46.564Z",
                       "updatedAt": "2020-03-17T18:09:28.129Z",
                       "environment": {
                          "sys": {
                             "id": "master",
                             "type": "Link",
                             "linkType": "Environment"
                          }
                       },
                       "revision": 20,
                       "contentType": {
                          "sys": {
                             "type": "Link",
                             "linkType": "ContentType",
                             "id": "news"
                          }
                       },
                       "locale": "de-DE"
                    },
                    "fields": {
                       "title": "Gewinnerin Jesta plant ihr eigenes BGE-Experiment",
                       "slug": "gewinnerin-jesta-plant-ihr-eigenes-bge-experiment",
                       "date": "2016-05-03T00:00+01:00",
                       "author": {
                          "sys": {
                             "type": "Link",
                             "linkType": "Entry",
                             "id": "2RbmIbD4k8eOQCEeOCckqi"
                          }
                       },
                       "headerImage": {
                          "sys": {
                             "type": "Link",
                             "linkType": "Asset",
                             "id": "5AGBz5Aqm4ImSQAs2mIOIO"
                          }
                       },
                       "rich_text": {
                          "data": {},
                          "content": [
                             {
                                "data": {},
                                "content": [
                                   {
                                      "data": {},
                                      "marks": [],
                                      "value": "Ich starre auf mein Handy, wo gerade eine SMS eingegangen ist.\nWäre sie von irgendwem anderen, hätte ich sie inhaltlich sofort als\nSpam gelöscht. Aber sie ist von Greta.",
                                      "nodeType": "text"
                                   }
                                ],
                                "nodeType": "paragraph"
                             },
                             {
                                "data": {},
                                "content": [
                                   {
                                      "data": {},
                                      "content": [
                                         {
                               [...]
